@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(../img/fundo.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: auto;
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  overflow: hidden;
}

.container {
  max-width: 65vh;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 0%;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  background: #cbdcdf;
  font-size: 18px;
  font-weight: 7000;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

.titulo {
  text-align: center;
  font-family: 'Kavoon', cursive;
  color: #2f3fad;
}

.calculadora {
  width: auto;
  margin: auto;

}

.display {
  font-size: 2em;
  width: 100%;
  text-align: right;
  background: #fff;
  color: rgb(39, 39, 39);
}

.btn {
  width: 100%;
  height: 50px;
  font-size: 1em;
  border: none;
  background: #808a8c;
  cursor: pointer;
}

.btn-eq {
  background: #2f3fad;
}

.btn:hover {
  background: #9e9e9e;
}

.marca {
  font-size: 25px;
  font-family: 'Kavoon', cursive;
  bottom: 1%;
  position: fixed;
  width: 95%;
  text-align: right;
  color: crimson;
  font-weight: bold;
}