@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('../img/hollowed-boxes.svg');
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;

}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;

}

form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;

}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

.titulo {
  font-family: 'Kavoon', cursive;
  font-size: 40px;
}

.btn-tarefa {
  font-size: 16px;
  color: #fff;
  border: transparent;
  background-color: crimson;
  border-radius: 4px;
  cursor: pointer;
}

.input-tarefa {
  align-items: center;
}

.apagar {
  background-image: url('../img/lixeira.ico');
  background-size: 24px;
  background-repeat: no-repeat;
  background-color: orange;
  border: transparent;
  border-radius: 12px;
  top: 4px;
  width: 24px;
  height: 24px;
}

.marca {
  font-size: 25px;
  font-family: 'Kavoon', cursive;
  bottom: 1%;
  position: fixed;
  width: 95%;
  text-align: right;
  color: crimson;
  font-weight: bold;
}
@media (max-width: 500px) {
  .container {
    max-width: 350px;
  }
}
